.selectable-text {
}

.full-height {
    height: 100%;
}

.museum-text--grey {
    color: #222222;
}

.museum-grey {
    background: #222222;
}


.selectable-text:hover {
    text-decoration: underline;
    color: #2196F3;
}

.input-label {
    font-size: .925rem;
    color: rgba(0, 0, 0, 0.6);
    height: 23px;
    font-weight: 400;
    margin-bottom: 2px;
}

h1 {
    font-weight: 500;
    line-height: 2.2rem;
}

h2 {
    font-weight: 500;
}

h4 {
    font-weight: 300;
    color: #757575;
}


h3 {
    font-weight: 400;
    color: #757575;
}

.upper-container {
    height: 80px;
    background-color: #FFFFFF;
}

.main-container {
    height: 552px;
    background-color: #FFFFFF;
}
