// use this file to override the default style of Vuetify
// if you don't have any idea of this, check out
// https://vuetifyjs.com/en/customization/sass-variables/#example-variable-file

$body-font-family: 'Poppins';

.v-application {
  font-family: $body-font-family, sans-serif !important;
  .caption {
    font-family: $body-font-family, sans-serif !important;
  }
}
